<meta http-equiv="refresh" content="0; url= <%= @linked%>" />
<p> If page does not redirect, please follow link below <p>
<a href= <%= @linked %>> Your Shipping Link </a>
<br>
<br>
<br>
<br>
<br>
<br>
<p> "It's my mail, it's now or never; I ain't gonna ship forever..." -Anonymous
